[include]
  path = ~/.gitconfig.local
[alias]
  aa = add --all
  amend = commit --amend
  done = !git fetch && git rebase origin/master && git checkout master && git merge @{-1} --no-ff && git push
  iquit = !git reset --hard && git clean -fd
  l = log --graph --abbrev-commit --date=relative
  rc = rebase --continue
  short-log = log --pretty=format:'%C(yellow)%h%Creset %s'
  wip = !git add --all && git commit -m 'WIP' && git push
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[commit]
  template = ~/.gitmessage
[core]
  editor = nvim
  excludesfile = ~/.dotfiles/git/.gitignore
  pager = less -+F
[color]
  ui = true
[diff]
  compactionHeuristic = true
  tool = vimdiff
[push]
  default = current
[fetch]
  prune = true
[pull]
  default = current
  rebase = true
[rebase]
  autostash = true
  autosquash = true
[merge]
  tool = vimdiff
  conflictstyle = zdiff3
[mergetool "vimdiff"]
  path = nvim
