.ruby-gemset
metadocs/
.ruby-lsp/
.ignore
.nodocker

node_modules/
public/packs/
public/sprockets/
npm-debug.log

bundle/
backend/bundle/
backend/node_modules/
backend/public/packs/
backend/public/sprockets/
backend/npm-debug.log

frontend/node_modules/
frontend/npm-debug.log

.aider*
