TAGS
tags
gems.ctags
.DS_Store
.ruby-gemset
metadocs/
.vim/coc-settings.json

node_modules/
public/packs/
public/sprockets/
npm-debug.log

bundle/
backend/bundle/
backend/node_modules/
backend/public/packs/
backend/public/sprockets/
backend/npm-debug.log

frontend/node_modules/
frontend/npm-debug.log
