alias ls="ls -Gp"
alias ruby-server="ruby -r webrick -e \"s = WEBrick::HTTPServer.new(:Port => 9090, :DocumentRoot => Dir.pwd); trap('INT') { s.shutdown }; s.start\""
alias lines="find . -name '*.*' | xargs wc -l"
alias :q="exit"

alias v="vim"
alias vu="vim +PluginInstall +qall"
alias vrc="vim ~/.dotfiles/.vimrc"

alias va="vagrant"
alias t="tmux"

alias zrc="vim ~/.dotfiles/.zshrc"
alias rzsh="source ~/.zshrc && source ~/.zshrc.local"

alias p="padrino"
alias ber="bundle exec rails"
alias rpca="RAILS_ENV=production bundle exec rake assets:precompile"

alias be="bundle exec"
alias bl="bundle list"
alias bp="bundle package"
alias bo="bundle open"
alias bu="bundle update"
alias bi="bundle install"
alias bes="bundle exec rspec"
alias besr="bundle exec rspec --order rand"
alias bec="bundle exec cucumber"

alias gco="git co"

alias gemb="gem build *.gemspec"
alias box="gem inabox *.gem"

alias chat="profanity -d"

alias churn="git log --all --name-only --format='format:' | grep -v '^$' | sort | uniq -c | sort | tail"
alias d_ds="find . -name .DS_Store -print0 | xargs -0 git rm --ignore-unmatch"

[[ -f ~/.aliases.local ]] && source ~/.aliases.local ]]
