[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "HowMuch"]
	path = .vim/bundle/HowMuch
	url = git@github.com:sk1418/HowMuch.git
[submodule "vim-orgmode"]
	path = .vim/bundle/vim-orgmode
	url = git@github.com:jceb/vim-orgmode.git
[submodule "ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim-ruby-xmpfilter"]
	path = .vim/bundle/vim-ruby-xmpfilter
	url = git@github.com:t9md/vim-ruby-xmpfilter.git
