[include]
        path = ~/.gitconfig.local
[alias]
        a = add
        amend = commit --ammend
        br = branch
	cl = clone
        co = checkout
        done = !git fetch && git rebase origin/master && git checkout master && git merge @{-1} --ff-only && git push
	iquit = !git reset --hard && git clean -fd
        ir = !git rebase -i origin/master
        rom = !git fetch origin && git rebase origin/master
        shove = !git remote | xargs -L 1 git push
        st = status
[commit]
        template = ~/.gitmessage
[core]
        editor = emacsclient
[color]
        ui = true
[push]
        default = current
[pull]
        default = current
        rebase = true
