.DS_Store
TAGS

.netrwhist

emacs/.emacs.d/.cache
emacs/.emacs.d/.lsp-session*
emacs/.emacs.d/autosaves
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/backups
emacs/.emacs.d/elpa
emacs/.emacs.d/transient
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projects
emacs/.emacs.d/tramp
emacs/.emacs.d/tree-sitter

vim/.vim/tmp/*

neovim/.config/pgcli
neovim/.config/ranger

neovim/.config/nvim/tmp/*
neovim/.config/nvim/undodir/*
neovim/.config/nvim/plugged
neovim/.config/nvim/.init.vim-rplugin~

gtk3/.config/gtk-3.0/bookmarks

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged

w3m/.w3m/cookie
w3m/.w3m/history
