.DS_Store
TAGS

.netrwhist

vim/.vim/tmp/*

neovim/.config/pgcli

neovim/.config/nvim/tmp/*
neovim/.config/nvim/undodir/*
neovim/.config/nvim/plugged
neovim/.config/nvim/.init.vim-rplugin~

gtk/.config/gtk-3.0/bookmarks

tmux/.tmux/plugins/tmux-fingers
