.DS_Store
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/projectile-bookmarks.eld
.emacs.d/bookmarks
.emacs.d/tramp
.emacs.d/jabber-avatar-cache
.emacs.d/.edbi-ds-history

.emacs.d/init.d/95email.el
.emacs.d/init.d/96jabber.el
.emacs.d/init.d/99opennotes.el
