extends html, javascript, css

snippet ic
import $1 from '@/components/$1.vue'
endsnippet

snippet aic
$1: () => import('@/components/$1.vue')
endsnippet

snippet ts
<template lang="slm">
  ${1:div}
</template>

<script>
export default {
  name: '$2',
}
</script>
endsnippet

snippet style
<style ${1:scoped}>
$2
</style>
endsnippet
