extends html, javascript, css

snippet vb "v-bind"
v-bind:$1="$2"
endsnippet

snippet vo "v-on"
v-on:${1:click}="$2"
endsnippet

snippet slot
<slot />
endsnippet

snippet ic
import $1 from './components/$1.vue'
endsnippet

snippet aic
$1: () => import('./components/$1.vue')
endsnippet
