# vi: set ft=sh :

alias la="ls -Gpa"
alias ls="ls -Gp"
alias ll="ls -Gplh"
alias ruby-server="ruby -r webrick -e \"s = WEBrick::HTTPServer.new(:Port => 9090, :DocumentRoot => Dir.pwd); trap('INT') { s.shutdown }; s.start\""
alias lines="find . -name '*.*' | xargs wc -l"
alias :q="exit"
alias tree="tree -C"
alias c="cd ~; clear"

alias retag=$CTAGS_COMMAND

alias da="dasht"
alias ra="ranger"

alias v="nvim"
alias vu="nvim +PlugInstall"
alias vrc="nvim ~/.dotfiles/neovim/.config/nvim/init.vim"

alias va="vagrant"
alias t="tmux"

alias agh="ag --hidden"

alias zrc="nvim ~/.dotfiles/zsh/.zshrc"
alias rzsh="source ~/.zshrc && source ~/.zshrc.local"

alias ber="bundle exec rails"
alias rpca="RAILS_ENV=production bundle exec rake assets:precompile"

alias be="bundle exec"
alias bl="bundle list"
alias bp="bundle package"
alias bo="bundle open"
alias bu="bundle update"
alias bi="bundle install"
alias bes="bundle exec rspec"
alias besr="bundle exec rspec --order rand"
alias bec="bundle exec cucumber"

alias gemb="gem build *.gemspec"
alias box="gem inabox *.gem"

alias d_ds="find . -name .DS_Store -print0 | xargs -0 git rm --ignore-unmatch"
alias d_indexhtml="find . -name "index.html*" -print0 | xargs -0 rm"

alias password="openssl rand -base64 24"

alias winbox="wine ~/opt/winbox.exe"

alias mine="wget -e robots=off -r -nc -np"

[[ -f ~/.zsh/git.sh ]] && source ~/.zsh/git.sh ]]
[[ -f ~/.aliases.local ]] && source ~/.aliases.local ]]
