# vi: set ft=sh :
# vim:foldmethod=marker:foldlevel=0

# {{{ docker
alias k="docker"
alias c="docker-compose"
# }}}
# {{{ files
alias agh="ag --hidden"

alias la="ls --color -pa"
alias ls="ls --color -p"
alias ll="ls --color -plh"

alias ra="ranger"

alias tree="tree -C"
# }}}
# {{{ git
alias churn="git log --all --name-only --format='format:' | grep -v '^$' | sort | uniq -c | sort -n | tail"

alias cl="git clone"

alias d="git diff"
alias ds="git diff --staged"

alias gp="git push"
alias gb="git branch"
alias gcp="git cherry-pick"
alias gun="git reset HEAD"
alias oops="git reset HEAD~1"

alias stash="git stash --include-untracked"
alias pop="git stash pop"
# }}}
# {{{ misc
alias mine="wget -e robots=off -r -nc -np"

alias winbox="wine ~/opt/winbox.exe"
# }}}
# {{{ tmux
alias t="tmux"
# }}}
# {{{ vim
alias v="nvim"
alias vu="nvim +PlugInstall"
alias vrc="nvim ~/.dotfiles/neovim/.config/nvim/init.vim"
# }}}
# {{{ workflow
alias prs="wf --pull-requests"
# }}}
# {{{ zsh
alias :q="exit"

alias zrc="nvim ~/.dotfiles/zsh/.zshrc"
alias rzsh="source ~/.zshrc && source ~/.zshrc.local"
# }}}


[[ -f ~/.aliases.local ]] && source ~/.aliases.local
