# vi: set ft=sh :
# vim:foldmethod=marker:foldlevel=0

# {{{
alias mbp="ssh keiththibodeaux@10.1.38.221"
}}}
# {{{ docker
alias k="docker"
alias c="docker-compose"
alias docker-nuke="docker container prune -f; docker volume prune -f; docker image prune -f"
alias rebuild="docker-compose down; RESEED=true docker-compose up"
# }}}
# {{{ files
alias rm="safe-rm"

alias agh="ag --hidden"

alias la="ls --color -pa"
alias ls="ls --color -p"
alias ll="ls --color -plh"

alias ra="ranger"

alias tree="tree -C"
# }}}
# {{{ git
alias churn="git log --all --name-only --format='format:' | grep -v '^$' | sort | uniq -c | sort -n | tail"

alias cl="git clone"

alias d="git diff"
alias ds="git diff --staged"

alias gp="git push"
alias gb="git branch"
alias gcp="git cherry-pick"
alias gu="git up"
alias gun="git reset HEAD"
alias oops="git reset HEAD~1"

alias gh="git log | head"

alias stash="git stash --include-untracked"
alias pop="git stash pop"

alias push="git push; git push --follow --tags; git checkout master; git push; git checkout develop"
# }}}
# {{{ misc
alias mine="wget -e robots=off -r -nc -np"
alias serve="ruby -run -e httpd ./ -p 9999"
alias ycal="cal $(date +"%Y")"
# }}}
# {{{ tmux
alias t="tmux"
alias tmate="tmate -f ~/.tmate.conf"
# }}}
# {{{ vim
alias v="nvim"
alias vu="nvim +PlugInstall"
# }}}
# {{{ zsh
alias :q="exit"

alias rzsh="source ~/.zshrc && source ~/.zshrc.local"
# }}}

[[ -f ~/.aliases.local ]] && source ~/.aliases.local
